.login-container {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-logo {
  padding: 20px;
  background-color: #272727;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  min-width: 400px;
  border-radius: 15px;
}
.input-container {
  border: 1px #cbd5e1 solid;
  border-radius: 5px;
  margin-top: 10px;
  padding: 7px;
}
.input {
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  border: none;
  color: #f8fafc;
}
.login-btn {
  background-color: #4f46e5;
  color: #f8fafc;
  margin-top: 10px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}
label {
  margin-top: 10px;
}
.error-msg {
  color: #ff0b37;
}
.logo {
  width: 200px;
}
